apiVersion: v1
# regular cluster configuration here
clusters:
- cluster:
    certificate-authority-data: <redacted>
    server: https://127.0.0.1:42019
  name: kind-kubelogin-poc
contexts:
- context:
    cluster: kind-kubelogin-poc
    user: oidc
  name: kind-oidc
current-context: kind-oidc
kind: Config
preferences: {}
users:
# in user section, use whatever user name you want, but the oidc-login setup
# needs to match the OIDC config passed to the apiserver
# insecure-skip-tls-verify is only here because of the test setup
# issuer url needs to be accessible and match the Dex issuer config
- name: oidc
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
      - oidc-login
      - get-token
      - --oidc-issuer-url=https://dex.example.com:32000
      - --oidc-client-id=kubelogin-test
      - --oidc-client-secret=kubelogin-test-secret
      - --oidc-extra-scope=email
      - --oidc-extra-scope=profile
      - --oidc-extra-scope=groups
      - --oidc-extra-scope=offline_access
      - --grant-type=password
      - --insecure-skip-tls-verify
      # enable verbose logs
      # - -v1
      command: kubectl
      env: null
      provideClusterInfo: false
